.btn-productos{
    background-color: white;
    color:rgb(244, 3, 87);
    font-weight: bold;
    border: pink 2px solid;
}
.btn-productos:hover{
    background-color: rgb(255, 99, 125);
    color: white;
    border: white solid 2px;
}

.btn-productos:focus{
    background-color: rgb(255, 99, 125);
    color: white;
    border: white solid 2px;
}

.btn-productos:focus-visible{
    background-color: rgb(255, 99, 125);
    color: white;
    border: white solid 2px;
}
