
/* NAVBAR */


.logo {
  width: 100px;
  height: auto;

}

div .boxNav {
  border-bottom: solid;
  
}

.navbar {
  background: black;
  font-weight: bold;
  font-size: large; 
}

.navbar-brand {width: 20%;
}

.navbar-title {
  color: white;
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.navbar-categorias{
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    padding-left: 25px;
    padding-right: 25px;

  }

.navbar-categorias:hover{
    color: orangered;
}

.cart-ico{
  width: 100px;
}





/* LIST CARD */


 div .card {
  width: 30%;
  margin: 15px;
} 

.card-style:hover{
  box-shadow: 4px 4px gray;
  
}

.card-boton{
  display: flex;
  justify-content: center;
  color: white;
}


.Count{

  padding: 20px;
  border: solid 3px grey;
  margin: 5px;
  font-size: 20px;
  color: grey;
  font-weight: bold;
}

.boton-volver{
  color: white;
}



/* CART */


.cart-empty{
  color: grey;
  margin-top: 100px;
  
}